<title>Damn Vulnerable NodeJS Application</title>
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src='/assets/jquery-3.2.1.min.js'></script>


<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfH6f9Q8iT5N0E5xR5Xr0z4j9m3zV6t9K5y5U5y5D" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js" integrity="sha384-abc123def456ghi789jkl012mno345pqr678stu901vwx234yz567890ab123cde" crossorigin="anonymous"></script>
<link id="bootstrap_styles" rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>


<link rel="stylesheet" href="/assets/fa/css/font-awesome.min.css">
<style>
    body {
      position: relative; /* For scrollyspy */
      padding-top: 60px; /* Account for fixed navbar */
    }
</style>